/* signup */
.signup{
  background-image: linear-gradient(rgba(20, 20, 20, 0.98), rgba(20, 20, 20, 0.98)), url("../assets/bgImage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

/* Signup Container */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Signup Box */
  .signup-box {
    background: #000;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    text-align: center;
    color: #fff;
  }

  .form-control{
    margin-bottom: 10px;
  }
  
  /* Buttons */
  .signup-btn {
    width: 100%;
    margin-top: 10px;
  }
  
  .oauth-buttons {
    margin-top: 20px;
  }
  
  .oauth-buttons button {
    width: 100%;
    margin-top: 10px;
  }
  
  .icon {
    width: 20px;
    margin-right: 10px;
  }
  
  /* Messages */
  .error-text {
    color: red;
  }
  
  .success-text {
    color: green;
  }
  
  /* Login Link */
  .login-link {
    margin-top: 15px;
  }
  